fieldset {
  border: none;
  border-radius: 5px;
  padding: var(--gap);
  margin-bottom: 1rem;
}

fieldset > legend {
  white-space: nowrap;
}

fieldset.required > legend::after {
  content: "*";
  color: red;
  margin-left: 0.5rem;
}

input:is([type="text"], [type="password"], [type="email"], [type="tel"]), select {
  font-size: 20px;
  width: 100%;
  display: block;
  font-family: monospace;
  margin: 0 0 var(--gap);
  padding: calc(var(--gap) * 2);
  border-radius: 4px 4px 0 0;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid var(--border-color-field);

  &:focus {
    outline: 1px solid var(--border-color-field);
    border-bottom-color: var(--border-color);
  }
}

fieldset > div.password {
  position: relative;
}

fieldset > div.password input:is([type="password"], [type="text"]) ~ span.password-lock {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

fieldset > div.password input:is([type="password"], [type="text"]) {
  padding-right: 3.5rem;

  &:placeholder-shown ~ span.password-lock {
    display: none;
  }
}

/** select */
fieldset > select:invalid { color: var(--border-color); }

/* checkbox */
fieldset > label.checkbox {
  cursor: pointer;
}

fieldset > label.checkbox > input[type="checkbox"] {
  display: none;
}

fieldset > label.checkbox:before {
  content: "\2714";
  border: 0.1em solid var(--border-color);
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.3em;
  padding-bottom: 0.3em;
  margin-right: 1em;
  vertical-align: baseline;
  color: transparent;
  transition: .2s;
}

fieldset > label.checkbox:active:before {
  transform: scale(0);
}

fieldset > label.checkbox:has(input[type="checkbox"]:checked):before {
  background-color: MediumSeaGreen;
  border-color: MediumSeaGreen;
  color: var(--text-color);
}

fieldset > label.checkbox:has(input[type="checkbox"]:disabled):before {
  transform: scale(1);
  border-color: var(--border-color);
}

fieldset > label.checkbox:has(input[type="checkbox"]:checked:disabled):before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb;
}
