#registration-form .field-phone {
  display: flex;
}

#registration-form .field-phone > fieldset:has(input[type="tel"]) {
  flex: 1;
}

#registration-form .field-phone > fieldset:has(input[type="text"]) {
  animation: registration-form-field-phone-confirm-mount 240ms 0ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
  min-width: 0;
  max-width: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

#registration-form .field-phone > fieldset:has(input[type="text"]) > legend {
  min-width: 0;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@keyframes registration-form-field-phone-confirm-mount {
  100% {
    max-width: 30%;
  }
}
